body{
	font-family: Arial , sans-serif;
	font-size: 13px;
}

#logo{
	background: url('image/google.png') no-repeat;
	display:block;
width:269px;
height:95px;
margin: auto; 
background-size: 100%;
text-indent: -9999px;
}

#container{
	margin:120px auto;
	width:580px;
	text-align: center;
}

input[type="text"] {
	width:566px;
	padding:7px;
	margin-top: 25px;
	margin-bottom: 18px;
	border:solid 1px #ccc;
	font-size: 16px;
}

input[type="submit"] {
	background: #eee ;
	border:0px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	padding:9px;
	margin: 0 5px ;
}

input[type="submit"] {
	cursor: pointer;
}

#header{
	text-align: right;
	padding:20px;
	display:inline;
}
#header ul li{
	display:inline;
}

#header ul li a:link, 
#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited {
	color:555;
	text-decoration:none;
	padding: 10px;
}
#header ul li a:hover,
footer nav ul li a:hover{
	text-decoration: underline; 
}

footer{
	background: #eee;
	position:fixed;
	bottom:0;
	width:100%;
}

footer nav ul li {
	display: inline;
    
}
 footer nav ul{
 	float:left;
 }

.right-links{
	float:right;
	text-align:right;

}


















